<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862163489648-e9snb9dvda6ig53qskl5sccb15rbftbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862163489648-e9snb9dvda6ig53qskl5sccb15rbftbb</string>
	<key>API_KEY</key>
	<string>AIzaSyDYAU01knBmX_4qToiAxwbSyzt9Y6itSYk</string>
	<key>GCM_SENDER_ID</key>
	<string>862163489648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWorkSpace</string>
	<key>PROJECT_ID</key>
	<string>sachin-be51e</string>
	<key>STORAGE_BUCKET</key>
	<string>sachin-be51e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862163489648:ios:1ffa9e58058bf7e7edb5b5</string>
</dict>
</plist>